.group {
    border: 1px solid #000;
    break-inside: avoid;
    border-radius: 4px;
    transition: all .25s;

    &:not([data-copied]){
        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                background-color: #f0f0f0;
            }
        }

        &:active {
            background-color: #f0f0f0;
        }
    }

    &[data-copied] {
        > .groupContent {
            display: none;
        }

        > .groupCopiedMessage {
            display: flex;
        }
    }

    & * {
        -webkit-user-select: none;
        user-select: none;
    }
}

.groupContent {
    & p {
        color: #000;
        padding: 12px;
        font-weight: bold;
        border-bottom: 1px solid #000;

        @media print {
            padding: 8px;
        }
    }

    & ul {
        padding: 16px 16px 16px 32px;

        @media print {
            padding: 8px 8px 8px 28px;
        }
    }

    & li {
        color: #000;
    }
}

.groupCopiedMessage {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    height: 100%;

    & :is(p, :global(.icon)) {
        color: #000;
    }
}

.loading {
    height: calc(100dvh - 74px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    > :global(.icon) {
        width: 88px;
        height: 88px;
        animation: infinite-rotate 1s infinite linear;

        * {
            fill: var(--color-primary);
        }
    }

    > h2 {
        letter-spacing: 2px;
    }
}

@keyframes infinite-rotate {
    to {
        transform: rotate(360deg);
    }
}

.main {
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
    width: 800px;
    max-width: calc(100% - 32px);
    box-shadow: 0 4px 8px var(--color-shadow);
    background-color: #fff;

    @media print {
        padding: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-shadow: none;

        & :is(p, li) {
            font-size: 11pt;
        }

        & h3 {
            font-size: 16pt;
        }
    }
}

.printTitle {
    margin-bottom: 24px;
    gap: 24px;
    width: 100%;

    > div {

        &:first-child {
            display: flex;
            align-items: center;
            gap: 16px;
            border-bottom: 3px solid #000;
            padding: 8px;
            margin-bottom: 24px;


            & div {
                flex: 1;
            }
        }
    }

    & :is(p, h3) {
        text-align: center;
        color: #000;
    }

    & img {
        width: 100px;
    }
}

.results {
    overflow: auto;
    padding: 8px;
    display: grid;
    width: calc(100% - 2px);
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    @media (max-width: 232px) {
        grid-template-columns: 1fr;
    }

    @media print {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 0;
        gap: 8px;
    }
}

.topBar {
    @media print {
        display: none;
    }
}