.dialog {
    border-radius: 16px;
    overflow: hidden;

    > div {
        overflow: auto;
        max-height: calc(100dvh - 32px);

        > h2 {
            font-weight: normal;
            padding: 32px;
        }

        > div:not(.dialogActions) {
            max-height: calc(100dvh - 248px);
            overflow: auto;
            padding: 2px 32px;
        }
    }
}

.dialogActions {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    padding: 32px;

    & :is(button, a) {
        color: var(--color-on-background);
        padding: 12px 16px;
        font-size: 12px;
        min-width: 100px;
        font-weight: bold;
        border-radius: 4px;
        transition: all .25s;
        background-color: var(--color-background-hover);
        border: 1px solid var(--color-outline);

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-outline);

            > * {
                scale: .85;
            }
        }
    }

    & div {
        width: 100%;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .25s;
    }
}