.topBarLeading {
    display: flex;
    align-items: center;
    gap: 4px;

    & button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px 8px 8px;
        border-radius: 4px;
        transition: all .25s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-outline);

            > * {
                scale: .85;
            }
        }
    }

    & div {
        display: flex;
        gap: 8px;
        align-items: center;
        transition: all .25s;
    }
}

.topBarTrailing {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 100px;
    justify-content: space-around;
    color: var(--color-on-primary);
    padding: 8px;
    border-radius: 4px;
    transition: all .25s;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }

    &:active {
        background-color: var(--color-primary-hover);

        > * {
            scale: .85;
        }
    }

    & :global(.icon) * {
        fill: var(--color-on-primary);
    }

    & div {
        display: flex;
        gap: 8px;
        align-items: center;
        transition: all .25s;
    }
}