.aboutDialog {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 500px;
    max-width: 100%;

    & svg {
        width: 64px;
        height: 64px;
    }

    & div {
        padding-top: 8px;
    }

    & h3 {
        margin-bottom: 8px;
        color: var(--color-primary);
    }

    & p {
        font-size: 14px;
    }

    & a {
        color: var(--color-error);
        border-radius: 4px;
        padding: 0 4px;
        border: 1px solid transparent;
        transition: all .25s;

        @media (hover: hover) {
            &:hover {
                border-left-width: 4px;
                border-color: var(--color-error);
            }
        }

        &:active {
            border-left-width: 4px;
            border-color: var(--color-error);
        }
    }
}

.errorMessage {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
    color: var(--color-error);

    & code {
        margin: 0 4px;
        border: 1px solid var(--color-error);
        padding: 2px 8px;
        border-radius: 4px;
    }
}

.infoDialog {
    width: 360px;
    max-width: 100%;
}

.main {
    padding: 0 8px 8px 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.memberDialog {
    & input {
        min-width: 0;
        width: 360px;
        max-width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--color-outline);
        border-bottom-width: 4px;
        margin-bottom: 16px;
        font-size: 14px;
        transition: all .25s;

        &::placeholder {
            color: var(--color-on-background);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
            }
        }

        &:focus {
            background-color: var(--color-background-hover);
            border-bottom-color: var(--color-primary);
        }
    }
}

.memberDialogFixedPlace {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    &::before {
        content: 'Tempat khusus:';
        white-space: nowrap;
    }

    > select {
        appearance: none;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--color-outline);
        font-size: 14px;
        transition: all .25s;
        width: 239px;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
                border-color: var(--color-primary);
            }
        }

        &:focus {
            background-color: var(--color-background-hover);
            border-color: var(--color-primary);
        }
    }
}

.memberDialogInfo {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;

    & :global(.icon) {
        min-width: 24px;
        min-height: 24px;
    }

    & p {
        font-size: 14px;
        line-height: 1.8em;
    }

    & code {
        margin: 0 4px;
        border: 1px solid var(--color-outline);
        padding: 2px 8px;
        border-radius: 4px;
    }
}

.memberDialogLastPlaces {
    & p {
        margin-bottom: 8px;
    }
    & div {
        width: 360px;
        max-width: 100%;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }

    & select {
        appearance: none;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--color-outline);
        font-size: 14px;
        width: calc(356px / 2);
        transition: all .25s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
                border-color: var(--color-primary);
            }
        }

        &:focus {
            background-color: var(--color-background-hover);
            border-color: var(--color-primary);
        }
    }
}

.placeDialog {
    > input {
        min-width: 0;
        width: 360px;
        max-width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid var(--color-outline);
        border-bottom-width: 4px;
        margin-bottom: 24px;
        font-size: 14px;
        transition: all .25s;

        &::placeholder {
            color: var(--color-on-background);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
            }
        }

        &:focus {
            background-color: var(--color-background-hover);
            border-bottom-color: var(--color-primary);
        }
    }

    & p {
        margin-bottom: 8px;
    }

    & div:not(.placeDialogInfo) {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }

    & label {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 8px;

        & input {
            text-align: center;
            min-width: 0;
            width: 131px;
            max-width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid var(--color-outline);
            border-bottom-width: 4px;
            font-size: 14px;
            transition: all .25s;

            &::placeholder {
                color: var(--color-on-background);
            }

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-background-hover);
                }
            }

            &:focus {
                background-color: var(--color-background-hover);
                border-bottom-color: var(--color-primary);
            }

            &:invalid {
                border-color: var(--color-error);
            }
        }
    }
}

.placeDialogInfo {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    width: 360px;
    max-width: 100%;

    & :global(.icon) {
        min-width: 24px;
        min-height: 24px;
    }

    & p {
        font-size: 14px;
        line-height: 1.8em;
    }

    & code {
        margin: 0 4px;
        border: 1px solid var(--color-outline);
        padding: 2px 8px;
        border-radius: 4px;
    }
}

.section {
    width: 100%;
}

.sectionBodyEmpty {
    padding: 16px;
    --h: calc(100dvh - 117px);
    display: grid;
    min-height: var(--h);
    max-height: var(--h);
    border-radius: 8px;
    border: 1px solid var(--color-outline);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    & :global(.icon) {
        font-size: 64px;
    }

    & h2 {
        font-weight: normal;
    }
}

.sectionBodyItem {
    position: relative;
    border-radius: 4px;
    justify-content: space-between;
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    border: 2px solid transparent;
    background-color: var(--color-background-hover);
    transition: all .25s;

    &:hover {
        background-color: var(--color-background-outline);
        padding-left: 136px;

        & div {
            opacity: 1;
        }
    }

    [data-edit] > & {
        padding-left: 32px + 16px + 8px;

        & div {
            opacity: 1;
        }

        & button {
            background-color: var(--color-background-hover);
        }
    }

    &[data-selected] {
        background-color: var(--color-primary-container);
        border-color: var(--color-primary-container-outline);

        & :is(h3, p) {
            color: var(--color-on-primary-container);
        }

        & button {
            background-color: var(--color-primary-container);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-primary-container-hover);
                }
            }

            &:active {
                background-color: var(--color-primary-container-hover);
            }
        }

        & :global(.icon) {
            color: var(--color-on-primary-container);
        }
    }

    & h3 {
        flex: 1;
        text-align: start;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
    }

    & p {
        font-size: 14px;
        text-align: end;
        color: var(--color-primary);
    }

    & div {
        display: flex;
        align-items: center;
        position: absolute;
        opacity: 0;
        left: 4px;
        top: 4px;
        border-radius: 4px;
        background-color: var(--color-background-outline);
        transition: all .25s;
    }

    & button {
        padding: 8px;
        border-radius: 4px;
        transition: all .25s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
            }
        }

        &:active {
            background-color: var(--color-background-hover);

            > * {
                scale: .85;
            }
        }
    }

    & :global(.icon) {
        transition: all .25s;
    }
}

.sectionBodyItems {
    overflow: hidden;
    border: 1px solid var(--color-outline);
    border-radius: 8px;

    > div {
        padding: 16px;
        --h: calc(100dvh - 117px);
        min-height: var(--h);
        max-height: var(--h);
        overflow: auto;
        gap: 8px;
        display: flex;
        flex-direction: column;
    }
}

.sectionBodySearchItem {
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    gap: 4px;
    color: var(--color-background);
    position: sticky;
    z-index: 2;
    border-radius: 99999999px;
    background-color: var(--color-on-background);
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px var(--color-shadow);
    transition: all .25s;

    > :global(.icon) {
        padding: 8px;
    }

    & input {
        color: var(--color-background);
        width: 100%;
        font-size: 14px;

        &::placeholder {
            color: var(--color-background-outline);
        }
    }

    & button {
        padding: 8px;
        border-radius: 50%;
        transition: all .25s;
        border: 1px solid transparent;

        @media (hover: hover) {
            &:hover {
                border-color: var(--color-background-outline);
            }
        }

        &:active {
            border-color: var(--color-background-outline);

            > * {
                scale: .85;
            }
        }
    }

    & :global(.icon) {
        color: var(--color-background);
        transition: all .25s;
        font-size: 16px;
    }
}

.sectionTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    & h2 {
        font-weight: normal;
        font-size: 24px;
    }

    & div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    & button {
        padding: 8px;
        border-radius: 4px;
        transition: all .25s;
        border: 1px solid transparent;

        &[data-reverse] > * {
            rotate: 180deg;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
                border-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-hover);
            border-color: var(--color-background-outline);

            > * {
                scale: .85;
            }
        }
    }

    & :global(.icon) {
        transition: all .25s;
    }
}

.settingsDialog {
    width: 500px;
    max-width: 100%;

    & details {
        border: 1px solid var(--color-background-outline);
        background-color: var(--color-background-hover);
        border-radius: 4px;
        margin-bottom: 4px;

        &[open] summary {
            border-bottom: 1px solid var(--color-background-outline);
            border-radius: 4px 4px 0 0;

            & :global(.icon) {
                rotate: 180deg;
            }
        }
    }

    & summary {
        list-style: none;
        padding: 16px;
        transition: all .25s;

        @media (hover) {
            &:hover {
                background-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-outline);
            padding: 16px 24px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & :global(.icon) {
        transition: all .25s;
    }
}

.settingsDialogTheme {
    padding: 8px 0;
    & button {
        width: 100%;
        padding: 8px 16px;
        transition: all .25s;

        @media (hover) {
            &:hover {
                background-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-outline);
            padding-left: 24px;
        }

        & div {
            display: flex;
            align-items: center;
            gap: 16px;
            transition: all .25s;
        }
    }
}