.actions {
    display: flex;
    gap: 4px;
    align-items: center;

    > button {
        display: none;
    }

    > :is(button, div) {
        align-items: center;
        gap: 8px;
        padding: 8px;
        border-radius: 4px;
        transition: all .25s;
        border: 1px solid transparent;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-outline);
                border-color: var(--color-background);
            }
        }

        &:active {
            background-color: var(--color-background-outline);
            border-color: var(--color-background);

            > * {
                scale: .85;
            }
        }

        > :global(.icon) {
            transition: all .25s;
        }
    }
}

.copyHistory {
    &[data-copied] {
        >:global(.icon):first-child {
            display: none;
        }

        >:global(.icon):last-child {
            display: block;
        }
    }

    >:global(.icon):last-child {
        display: none;
    }
}

.dateRangeDialog {
    width: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    > div > div {
        gap: 0
    }

    & input {
        max-width: 0;
    }

    & p {
        width: 32px;
    }

    & button {
        width: 180px;
        max-width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: all .25s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-background-hover);
                border-color: var(--color-background-outline);
            }
        }

        &:active {
            background-color: var(--color-background-hover);
            border-color: var(--color-background-outline);

            > * {
                scale: .85;
            }
        }
    }

    & div {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all .25s;
    }
}

.empty {
    min-height: calc(100dvh - 72px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    :global(.icon) {
        font-size: 88px;
    }

    & h1 {
        font-weight: normal;
    }
}

.group {
    border: 1px solid var(--color-outline);
    break-inside: avoid;
    border-radius: 4px;
    transition: all .25s;

    &:not([data-copied]):hover {
        cursor: pointer;
        background-color: var(--color-background-outline);
    }

    &[data-copied] {
        > .groupContent {
            display: none;
        }

        > .groupCopiedMessage {
            display: flex;
        }
    }
}

.groupContent {
    & p {
        padding: 12px;
        font-weight: bold;
        background-color: var(--color-primary);
        color: var(--color-on-primary);
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid var(--color-outline);
    }

    & ul {
        padding: 16px 16px 16px 32px;
    }
}

.groupCopiedMessage {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    height: 100%;
}

.groups {
    padding: 16px;
    display: grid;
    width: 100%;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.history {
    background-color: var(--color-background-hover);
    width: 1000px;
    max-width: calc(100% - 16px);
    border: 1px solid var(--color-background-outline);
    border-radius: 4px;
    margin-bottom: 8px;
    transition: all .25s;

    &[open]>summary {
        border-bottom: 1px solid var(--color-background-outline);
        border-radius: 3px 3px 0 0;

        & .actions {
            >button {
                display: flex;
            }

            >div> :global(.icon) {
                transform: rotate(180deg);
            }
        }
    }

    & summary {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 3px;
        transition: all .25s;

        @media (hover: hover) {
            &:hover:not(:has( > .actions > *:is(:hover,:active))) {
                background-color: var(--color-background-outline);
            }
        }

        &:active:not(:has( > .actions > *:is(:hover,:active))) {
            background-color: var(--color-background-outline);
            padding: 16px 24px;
        }
    }
}

.main {
    @media print {
        display: none;
    }
    >h1 {
        width: 100%;
        font-weight: normal;
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center;
    }
}

.mainResultPage {
    display: none;

    @media print {
        display: flex;
    }
}

.messageDialog {
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & blockquote {
        padding: 16px;
        border-radius: 4px;
        border: 2px solid var(--color-primary);
        background-color: var(--color-background-hover);
    }
}

.topBarTrailing {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 18px;
    color: var(--color-on-primary);
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .25s;

    &:hover {
        background-color: var(--color-primary-container);
        color: var(--color-on-primary-container);
        border-color: var(--color-primary-container-outline);

        > :global(.icon) * {
            fill: var(--color-on-primary-container);
        }
    }

    > :global(.icon) {
        width: 20px;
        height: 20px;

        * {
            fill: var(--color-on-primary);
        }
    }
}