:root {
    --color-primary: #006c45;
    --color-primary-hover: #00a56c;
    --color-primary-outline: #31c284;
    --color-primary-container: #75fbb8;
    --color-primary-container-hover: #31c284;
    --color-primary-container-outline: #00a56c;
    --color-on-primary: #ffffff;
    --color-on-primary-container: #002112;
    --color-error: #ba1a1a;
    --color-error-hover: #ff5449;
    --color-error-outline: #ff897d;
    --color-error-container: #ffdad6;
    --color-error-container-hover: #ff897d;
    --color-error-container-outline: #ff5449;
    --color-on-error: #ffffff;
    --color-on-error-container: #410002;
    --color-background: #ffffff;
    --color-background-rgb: 255 255 255;
    --color-background-hover: #f0f0f0;
    --color-background-outline: #c4c4c4;
    --color-on-background: #1a1a1a;
    --color-outline: #757575;
    --color-shadow: #0000004d;

    &.dark {
        --color-primary: #55de9e;
        --color-primary-hover: #00a56c;
        --color-primary-outline: #008858;
        --color-primary-container: #005233;
        --color-primary-container-hover: #006c45;
        --color-primary-container-outline: #008858;
        --color-on-primary: #003822;
        --color-on-primary-container: #75fbb8;
        --color-error: #ffb4ab;
        --color-error-hover: #ff5449;
        --color-error-outline: #de3730;
        --color-error-container: #93000a;
        --color-error-container-hover: #ba1a1a;
        --color-error-container-outline: #de3730;
        --color-on-error: #690005;
        --color-on-error-container: #ffdad6;
        --color-background: #1a1a1a;
        --color-background-rgb: 26 26 26;
        --color-background-hover: #3b3b3b;
        --color-background-outline: #525252;
        --color-on-background: #e0e0e0;
        --color-outline: #8f8f8f;
        --color-shadow: #000000b3;

        color-scheme: dark;
        & * {
            color-scheme: dark;
        }
    }
    &.system {
        @media (prefers-color-scheme: dark) {
            --color-primary: #55de9e;
            --color-primary-hover: #00a56c;
            --color-primary-outline: #008858;
            --color-primary-container: #005233;
            --color-primary-container-hover: #006c45;
            --color-primary-container-outline: #008858;
            --color-on-primary: #003822;
            --color-on-primary-container: #75fbb8;
            --color-error: #ffb4ab;
            --color-error-hover: #ff5449;
            --color-error-outline: #de3730;
            --color-error-container: #93000a;
            --color-error-container-hover: #ba1a1a;
            --color-error-container-outline: #de3730;
            --color-on-error: #690005;
            --color-on-error-container: #ffdad6;
            --color-background: #1a1a1a;
            --color-background-rgb: 26 26 26;
            --color-background-hover: #3b3b3b;
            --color-background-outline: #525252;
            --color-on-background: #e0e0e0;
            --color-outline: #8f8f8f;
            --color-shadow: #000000b3;

            color-scheme: dark;
            & * {
                color-scheme: dark;
            }
        }
    }
}

* {
    background-color: transparent;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    @media print {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

a {
    text-decoration: none;
}

code, code * {
    font-family: 'Roboto Mono', monospace;
}

html {
    background-color: var(--color-background);
    border-radius: 8px;

    @media print {
        background-color: #fff;
    }
}
input, button, textarea, select {
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
}

:is(button, summary):hover:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

img {
    display: block;
}

button, summary, .icon, :is(button, summary, .icon) * {
    -webkit-user-select: none;
    user-select: none;
}

input, textarea, button, select, a, summary, .icon {
    -webkit-tap-highlight-color: transparent;
}

dialog {
    background-color: rgb(var(--color-background-rgb) / .95);
    border: 1px solid var(--color-background-outline);
    box-shadow: 0 8px 16px var(--color-shadow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

header {
    width: 100%;
    background-color: var(--color-background-hover);
    border-bottom: 1px solid var(--color-background-outline);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    z-index: 2;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%
}

menu {
    position: fixed;
    color: var(--color-on-background);
    background-color: rgb(var(--color-background-rgb) / .8);
    backdrop-filter: blur(8px);
    border: 1px solid var(--color-background-outline);
    box-shadow: 0 2px 8px var(--color-shadow);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    border-radius: 8px;
    z-index: 11;

    &:not([data-open]) {
        display: none !important;
    }
}

.icon {
    display: block;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

#__app__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}